/* COMMON DEMO STYLE */
.demo-1{
	width: 100%;
	height: 480px;
}
.page-view {
  height: 100vh;
  width: 100vw;
 margin-top: 100px;
 
}

.page-view .project {
  position: absolute;
  width: 100%;
  height: 480px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@-webkit-keyframes mask-play {
  from {
    -webkit-mask-position: 0% 0;
            mask-position: 0% 0;
  }
  to {
    -webkit-mask-position: 100% 0;
            mask-position: 100% 0;
  }
}


/* SPECIFIC DEMO STYLE */





.demo-1 .page-view .project:nth-child(1) {
  background-image: url(../img/banner1 .png);
}

.demo-1 .page-view .project:nth-child(2) {
  background-image:url(../img/banner2.png);
}

.demo-1 .page-view .project:nth-child(3) {
  background-image: url(../img/banner3.png);
}

.demo-1 .page-view .project:nth-child(4) {
  background-image:url(../img/banner4.png);
}

.demo-1 .page-view .project:nth-child(even).hide {
  -webkit-mask: url(../img/nature-sprite.png);
          mask: url(../img/nature-sprite.png);
  -webkit-mask-size: 2300% 100%;
          mask-size: 2300% 100%;
  -webkit-animation: mask-play 1.4s steps(22) forwards;
          animation: mask-play 1.4s steps(22) forwards;
}

.demo-1 .page-view .project:nth-child(odd).hide {
  -webkit-mask: url(../img/nature-sprite-2.png);
          mask: url(../img/nature-sprite-2.png);
  -webkit-mask-size: 7100% 100%;
          mask-size: 7100% 100%;
  -webkit-animation: mask-play 1.4s steps(70) forwards;
          animation: mask-play 1.4s steps(70) forwards;
}



/* Fallback */
.no-cssmask .page-view .project.hide {
  opacity: 0;
  -webkit-transition: opacity 1.4s ease;
          transition: opacity 1.4s ease;
  -webkit-mask: none !important;
          mask: none !important;
}
